# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
.venv/

# Django stuff
db.sqlite3
/media/
staticfiles/

# VS Code
.vscode/

# Env files (SECRET_KEY, passwords, etc.)
.env
*.env

1. git_push_instructions.txt
2. upload github project to pythonanywhere.txt


