
<style>
    /* === Embed Times New Roman for PDF (absolute path) === */
    @font-face {
        font-family: 'TimesNewRoman';
        src: url("file:///{{ STATIC_ROOT }}/fonts/times.ttf") format('truetype');
        font-weight: normal;
    }

    @font-face {
        font-family: 'TimesNewRoman';
        src: url("file:///{{ STATIC_ROOT }}/fonts/times-bold.ttf") format('truetype');
        font-weight: bold;
    }

    /* === Global Body Settings === */
    body {
        font-family: 'TimesNewRoman', Times, serif;
        font-size: 12pt;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }

    /* === Headings === */
    h1 {
        text-align: center;
        font-family: 'TimesNewRoman', Times, serif;
        font-weight: bold;
        font-size: 12pt;
    }
    /* === Bold Text === */
    strong, b {
        font-family: 'TimesNewRoman', Times, serif;
        font-weight: bold;
        font-size: 12pt;
    }
</style>


<img src="{{ koka_e_shkreses }}" alt="Koka e shkresës image" style="width: 100%;">

<div style="text-align: center;">
    <span style=" font-size: 7pt; font-weight: bold; font-family: 'Arial Black', Gadget, sans-serif;">R E P U B L I K A  E  S H Q I P Ë R I S Ë</SPAN><br>
    <span style=" font-size: 12pt; font-weight: bold; font-family: 'Baskerville Old Face', serif; ">MINISTRIA E MBROJTJES</SPAN><br>
    <span style="font-size: 12pt; font-family: 'Times New Roman', Times, serif; font-weight: bold; ">SHTABI I PËRGJITHSHËM I FORCAVE TË ARMATOSURA</SPAN><br>
    <span style="font-size: 12pt; font-family: 'Times New Roman', Times, serif; font-weight: bold; ">QENDRA E PERSONEL REKRUTIMIT</SPAN><br>
</div>
<div><br><br></div>
<div style="text-align: center;">
    <span style="font-size: 12pt; font-family: 'Times New Roman', Times, serif; font-weight: bold; ">FORMULAR APLIKIMI</SPAN><br>
    <span style="font-size: 12pt; font-family: 'Times New Roman', Times, serif; font-weight: bold; ">PËR USHTAR/DETAR AKTIV NË FORCAT E ARMATOSURA</SPAN>
</div>
<p></p>
