<!DOCTYPE html>
{% load static %}
<html lang="sq">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lista me titullarë</title>
        <link rel="stylesheet" href="{% static 'css/ushtar/u_list.css' %}">
    </head>
    <body class="bg-secondary text-white p-4 rounded-3">
        <main class="container py-4">
            <div>
                <a class="btn btn-info btn-lg px-4 py-1 d-inline-flex align-items-center gap-2 rounded-3 shadow-sm align-self-start btn-wide"
                   href="{% url 'firmat_dashboard' %}">
                    &larr; Kthehu
                </a>
            </div>

            <br><br>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm align-middle">
                    <thead class="table-light">
                        <tr><th>Blloku i firmëtarëve</th><th>Ndrysho</th><th>Fshi</th></tr>
                    </thead>
                    <tbody>
                        {% for f in firmat %}
                            <tr>
                                <td>{{ f.hartoi }} ** {{ f.kontrolloi }} ** {{ f.miratoi }}</td>
                                <td><a href="{% url 'firmat_update' pk=f.pk %}"  class="btn btn-warning btn-sm">Ndrysho</a></td>
                                <td><a href="{% url 'firmat_delete' pk=f.pk %}"  class="btn btn-danger btn-sm">Fshi</a></td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                    </tbody>
                </table>
            </div>

            <div class="ms-auto">
                <a href="{% url 'firmat_create' %}"
                   class="btn btn-primary btn-lg px-4 py-1 d-inline-flex align-items-center gap-2 rounded-3 shadow-sm align-self-start btn-wide">
                    + Shto firmëtar
                </a>
            </div>

            <br><br>


        </main>
    </body>
</html>
